<p id="notice"><%= notice %></p>

<h1>Listing Chore Lists</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chore_lists.each do |chore_list| %>
      <tr>
        <td><%= chore_list.title %></td>
        <td><%= link_to 'Show', chore_list %></td>
        <td><%= link_to 'Edit', edit_chore_list_path(chore_list) %></td>
        <td><%= link_to 'Destroy', chore_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chore list', new_chore_list_path %>
